* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/2.svg);
    -webkit-backdrop-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    font-size: 16px;
}

a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

.logo {
    cursor: pointer;
    padding: 2rem;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .35;
    color: #fff;
}

.nav-area li a:hover {
    color: #d22938;
}

.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #d22938;

}